@{
    ViewData["Title"] = "Profile";
}
<h1>My Profile</h1>

<p>Username: @Model.DisplayName</p>
<p>Email: @Model.Email</p>
<p>Email confirmed: @Model.EmailConfirmed</p>
<p>Two-factor Authentication: @Model.TwoFactorEnabled</p>
<p>Password hash: @Model.PasswordHash</p>